<!-- Service Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h4 class="section-title">Our Services</h4>
            <h1 class="display-5 mb-4">We Focused On Quality Products and services.</h1>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="img/service-1.jpg" alt="">
                    <div class="service-text p-5">
                        <img class="mb-4" src="img/icons/icon-5.png" alt="Icon">
                        <h3 class="mb-3">We-Supply</h3>
                        <p class="mb-4">We Supply very high-quality fresh food Ingredients for restaurants, bars and hotels. contact us for your needs we will provide you the best quality and price.</p>
                        <a class="btn" href="/supply"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="img/service-2.jpg" alt="">
                    <div class="service-text p-5">
                        <img class="mb-4" src="img/icons/icon-6.png" alt="Icon">
                        <h3 class="mb-3">Startup-Support</h3>
                        <p class="mb-4">We will connect you with companies and individuals in Canada to help make your journey more leisurely and increase your chances of qualifying for the Canada Startups Visa program.</p>
                        <a class="btn" href="/start-up"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item d-flex position-relative text-center h-100">
                    <img class="bg-img" src="img/service-3.jpg" alt="">
                    <div class="service-text p-5">
                        <img class="mb-4" src="img/icons/icon-9.png" alt="Icon">
                        <h3 class="mb-3">Immigration-Support</h3>
                        <p class="mb-4">Mandala Group Inc will help you find the best ways to immigrate to Canada through the Business startup visa program.</p>
                        <a class="btn" href="/immigration"><i class="fa fa-plus text-primary me-3"></i>Read More</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
<!-- Service End -->