
    <!-- Facts Start -->
    <div class="container-xxl py-5">
        <div class="container pt-5">
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                        <div class="fact-icon">
                            <img src="img/icons/icon-2.png" alt="Icon">
                        </div>
                        <h3 class="mb-3">We Supply</h3>
                        <p class="mb-0">We Supply very high-quality fresh food Ingredients for restaurants, bars and hotels. contact us for your needs we will provide you the best quality and price.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                        <div class="fact-icon">
                            <img src="img/icons/icon-3.png" alt="Icon">
                        </div>
                        <h3 class="mb-3">Business Buy/Sale</h3>
                        <p class="mb-0">We Supply very high-quality kitchen-tools direct from the manufacturer for restaurants, bars, and hotels. contact us for your needs we will provide you the best quality and price.</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="fact-item text-center bg-light h-100 p-5 pt-0">
                        <div class="fact-icon">
                            <img src="img/icons/icon-4.png" alt="Icon">
                        </div>
                        <h3 class="mb-3">Startup Support</h3>
                        <p class="mb-0">We Supply very high-quality hotels Supplies. contact us for your needs we will provide you the best quality and price.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Facts End -->