
  <!-- fruits section -->

  <section style="background-color: rgb(226, 235, 235);" class="fruit_section">
    <div class="container mt-3">
      <h2 style="color: #fc5d35;" class="custom_heading text-center p-3 mb-5">Featured Products</h2>
      <!-- <p class="custom_heading-text">
        There are many variations of passages of Lorem Ipsum available, but
        the majority have
      </p> -->
      <div class="row layout_padding2">
        <div class="col-md-8">
          <div class="fruit_detail-box">
            <h3>
              FOOD INGREDIENTS
            </h3>
            <p class="mt-4 mb-5">
              We Supply very high-quality fresh food Ingredients for restaurants, bars and hotels. contact us for your needs we will provide you the best quality and price.
            </p>
            <div>
              <a href="/supply" class="custom_dark-btn">
                Buy Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center align-items-center">
            <img src="img/products/masala.jpg" alt="" class="" width="250px" />
          </div>
        </div>
      </div>
      <hr>
      <div class="row layout_padding2">
        <div class="col-md-8">
          <div class="fruit_detail-box">
            <h3>
              HOTEL SUPPLY
            </h3>
            <p class="mt-4 mb-5">
              We have the largest selection of hotel and motel travel-sized amenity products. Our wide variety includes many trusted premier brands for hospitality organizations to make guests feel comfortable during their stay. We keep our pricing low with wholesale and bulk items in many categories.</p>
            <div>
              <a href="/supply" class="custom_dark-btn">
                Buy Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center ">
            <img src="img/products/hotel.jpg" alt="" class="" width="250px" />
          </div>
        </div>
      </div>
      <hr>
      <div class="row layout_padding2-top layout_padding-bottom">
        <div class="col-md-8">
          <div class="fruit_detail-box">
            <h3>
              Restaurant Supply
            </h3>
            <p class="mt-4 mb-5">
              Restaurant supply includes your kitchen needs, from the biggest food service operation to the smallest residential gourmet kitchen. Our store contains the highest quality merchandise for you, and you will find that we’ve covered it all!
            </p>
            <div>
              <a href="/supply" class="custom_dark-btn">
                Buy Now
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center align-items-center">
            <img src="img/products/restaurant.jpg" alt="" class="" width="250px" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end fruits section -->





  
