<section class="service_section layout_padding ">
  <div class="container">
    <h2 class="custom_heading text-center">Our Services</h2>
    <div class="row">
      <div class="col-sm-12 col-md-6 col-lg-4 ">
        <div class="card">
          <div class="card-img-top">
            <img class="card-img-top" src="img/card/truck.png" alt="Card image cap" />
          </div>
        
        <div class="card-body">
          <h5 class="card-title">Private Fleet Delivery</h5>
          <p class="card-text">
            Our personalized delivery service.
          </p>
        </div>
      </div>            
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-img-top">
            <img class="card-img-top" src="img/card/friendly.png" alt="Card image cap" />
          </div>
        
        <div class="card-body">
          <h5 class="card-title">Better Sustainability</h5>
          <p class="card-text">
            Eco-friendly products and practices. 
          </p>
        </div>
      </div>            
      </div>
      <div class="col-sm-12 col-md-6 col-lg-4">
        <div class="card">
          <div class="card-img-top">
            <img class="card-img-top" src="img/card/info.png" alt="Card image cap" />
          </div>
        
        <div class="card-body">
          <h5 class="card-title">Customer Service</h5>
          <p class="card-text">
            We’re always ready to help, connect with us.
          </p>
        </div>
      </div>            
      </div>
      
    </div>
    
  </div>
</section>