<%- include('partials/header'); %>
<!-- Page Header Start -->
<div class="container-fluid page-header-immig py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
	<div class="container py-5">
		<h1 class="display-1 text-white animated slideInDown">Immigration</h1>
		<nav aria-label="breadcrumb animated slideInDown">
			<ol class="breadcrumb text-uppercase mb-0">
				<li class="breadcrumb-item"><a class="text-white" href="/">Home</a></li>
				
				<li class="breadcrumb-item text-primary active" aria-current="page">Immigration</li>
			</ol>
		</nav>
	</div>
</div>

<!-- Page Header End -->
<section style="background-color: rgb(226, 235, 235);" class="fruit_section">
	<div class="container mt-3">
		<h2 style="color: #fc5d35;" class="custom_heading text-center p-3 mb-5">Business Start-up Support</h2>
		<!-- <p class="custom_heading-text">
		  There are many variations of passages of Lorem Ipsum available, but
		  the majority have
		</p> -->
		<div class="row layout_padding2">
		  <div class="col-md-8">
			<div class="fruit_detail-box">
			  <h3>
				  ALL KINDS OF SUPPORT IN STARTING A BUSINESS IN CANADA
			  </h3>
			  <p class="mt-4 mb-5">
				  Mandala Group Inc will help you find the best ways to immigrate to Canada through the startup visa program. We will connect you with companies and individuals in Canada to help make your journey more leisurely and increase your chances of qualifying for the Canada Startups Visa program.           </p>
			  <div>
				
			  </div>
			</div>
		  </div>
		  <div class="col-md-4 d-flex justify-content-center align-items-center">
			<div class="fruit_img-box d-flex justify-content-center align-items-center">
			  <img src="https://static.wixstatic.com/media/51be22_77267f2732464199ad25e28ea65c324c~mv2.jpg/v1/fill/w_582,h_401,al_c,q_80,usm_0.66_1.00_0.01,enc_auto/Canada%20Visa%20Approved%20with%20Rubber%20Stamp%20a.jpg" alt="" class="" width="250px" />
			</div>
		  </div>
		</div>
		</div>
	</section>

        
		
        <%- include('partials/contact'); %>
        <%- include('partials/footer'); %>