<%- include('partials/header'); %>
<!-- Page Header Start -->
<div class="container-fluid page-header-start py-5 mb-5 wow fadeIn" data-wow-delay="0.1s">
	<div class="container py-5">
		<h1 class="display-1 text-white animated slideInDown">Startup-Support</h1>
		<nav aria-label="breadcrumb animated slideInDown">
			<ol class="breadcrumb text-uppercase mb-0">
				<li class="breadcrumb-item"><a class="text-white" href="#">Home</a></li>
				
				<li class="breadcrumb-item text-primary active" aria-current="page">Appointment</li>
			</ol>
		</nav>
	</div>
</div>
<!-- Page Header End -->

<section style="background-color: rgb(226, 235, 235);" class="fruit_section">
    <div class="container mt-3">
      <h2 style="color: #fc5d35;" class="custom_heading text-center p-3 mb-5">Business Start-up Support</h2>
      <!-- <p class="custom_heading-text">
        There are many variations of passages of Lorem Ipsum available, but
        the majority have
      </p> -->
      <div class="row layout_padding2">
        <div class="col-md-8">
          <div class="fruit_detail-box">
            <h3>
				ALL KINDS OF SUPPORT IN STARTING A BUSINESS IN CANADA
            </h3>
            <p class="mt-4 mb-5">
				Mandala Group Inc will help you find the best ways to immigrate to Canada through the startup visa program. We will connect you with companies and individuals in Canada to help make your journey more leisurely and increase your chances of qualifying for the Canada Startups Visa program.           </p>
            <div>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center align-items-center">
            <img src="img/startup/1.jpg" alt="" class="" width="250px" />
          </div>
        </div>
      </div>
      <hr>
      <div class="row layout_padding2">
        <div class="col-md-8">
          <div class="fruit_detail-box">
            <h3>
				FEDERAL INCORPORATION, COMPANY REGISTRATION
            </h3>
            <p class="mt-4 mb-5">
				We provide you with a fully functional legal entity to start a new business or expand your business in Canada. We assist you in selecting the company that fits your business needs.

				Services Include: Incorporation certificate, Articles of association, Corporate Key, Corporation number and name registration, Registration with Canada Revenue Agency, and GST/HST registration.</p>
            <div>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center ">
            <img src="img/startup/2.jpg" alt="" class="" width="250px" />
          </div>
        </div>
      </div>
      <hr>
      <div class="row layout_padding2-top layout_padding-bottom">
        <div class="col-md-8">
          <div class="fruit_detail-box">
            <h3>
				TRADEMARK REGISTRATION
            </h3>
            <p class="mt-4 mb-5">
				Merely registering a business name, a company name, or a domain name does not grant you exclusive rights to use that name. Only a registered trademark provides you the exclusive legal right to use, assign, license, and sell worldwide. We will prepare and submit your trademark application with a professional, and legal approach. </p>
            <div>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center align-items-center">
            <img src="img/startup/3.jpg" alt="" class="" width="250px" />
          </div>
        </div>
      </div>
	  <hr>
      <div class="row layout_padding2">
        <div class="col-md-8">
          <div class="fruit_detail-box">
            <h3>
				FINDING THE RIGHT COFOUNDERS/PARTNERS TO HELP IMMIGRANT
            </h3>
            <p class="mt-4 mb-5">
				Suppose you are an (immigrant) entrepreneur who is unsure about starting a business solo because of your lack of technical or business expertise. In that case, Mandala Group Inc. can help you by becoming your technical cofounder and building your product. Our technical team will handle technical development from A to Z and will help in creating/improving your product on their own or collaborate with your team.</p>
            <div>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center ">
            <img src="img/startup/4.jpg" alt="" class="" width="250px" />
          </div>
        </div>
      </div>
	  <hr>
      <div class="row layout_padding2">
        <div class="col-md-8">
          <div class="fruit_detail-box">
            <h3>
				GUIDANCE & DOCUMENTATION SUPPORT
            </h3>
            <p class="mt-4 mb-5">
				We will help you review your pitching material (business plan, financial forecast, and pitch deck) that will be submitted to the designated organization. We also offer technical and business development services like entering new markets, building a product, increasing sales, etc. We also help you in getting matched with the right mentors in Canada. They will provide you with the proper guidance and consultancy to achieve your goal and get accepted into Canada's Startup Visa program.</p>
            <div>
              
            </div>
          </div>
        </div>
        <div class="col-md-4 d-flex justify-content-center align-items-center">
          <div class="fruit_img-box d-flex justify-content-center ">
            <img src="img/startup/5.jpg" alt="" class="" width="250px" />
          </div>
        </div>
      </div>
    </div>
  </section>

        

<%- include('partials/footer'); %>